Flask
Flask-Cors
Flask-RESTful
gast
gunicorn==20.1.0
itsdangerous
Jinja2
Keras-Preprocessing
multidict 
numpy 
oauthlib 
opt-einsum 
protobuf==3.14.0
pyasn1 
pyasn1-modules==0.2.8
pycparser 
PyJWT 
pyOpenSSL 
pyreadline==2.1
PySocks 
python-dateutil 
pytz==2021.3
requests 
requests-oauthlib==1.3.0
tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit==1.6.0.post2
tensorflow==2.8.0
tensorflow-estimator 
termcolor==1.1.0
typing_extensions 
urllib3 
Werkzeug 
win-inet-pton 
wincertstore==0.2
wrapt 
yarl 
zipp 
